body {
  background-image: url('boybackground.jpg');
  background-size: cover;
  background-repeat: no repeat;
  background-position:center;
  height:100vh;
  margin:1;
}

html,body{
  height:100%;
  margin:0 auto;
}

.center{
      justify-content:center;
      align-items:center
}

body{
  font-family:arial;
  /*margin:0 auto;  New */
}
a{
  text-decoration:none;
}

#click_me:hover{
  color:blue !important;
}
/* CSS Specificity 
   inline > id > class > element
*/
nav{
  padding:5px;
}
.container{
	  display:flex;
	  text-align:center; 
    background-color:white;
    flex-wrap: wrap;
}
nav a{
  color:white;
  margin:0 10px 0 10px;
  flex:1;
  text-align:center;
  background-color:black;
}
/* Start */
#banner{
  color:white;
  padding:10px;
  text-align:center;
  font-weight:bold;
  background-color:cyan
}
* {box-sizing:border-box}

.card{
  flex:1;
  margin:10px;
  padding:10px;
  border:1px solid gray;
  text-align:center;
  min-width: 180px;
  max-width: 180px;
  overflow:hidden;
  box-shadow:2px 2px 2px white;
}

.highlight{
  font-style:italic;
  color:blue;
}
.heading{
  font-weight:bold;
}
.card a{
  text-decoration:none;
  background-color:blue;
  color:white;
  border-radius:4px;
  padding:6px;
  box-shadow:2px 2px 2px whitesmoke;
}
.card a:hover{
  background-color:cornflowerblue;
}

.item{
  width:150px;
  height:150px;
  object-fit:cover;
}
body {
  background-image: url('boybackground.jpg');
  background-size: cover;
  background-repeat: no repeat;
  background-position:center;
  height:100vh;
  margin:1;
}

html,body{
  height:100%;
  margin:0 auto;
}

.center{
      justify-content:center;
      align-items:center
}
.button{
  text-decoration:none;
  background-color:blue;
  color:white;
  border-radius:4px;
  padding:6px;
  box-shadow:2px 2px 2px black;
}
.button:hover{
  background-color:cornflowerblue;
}